// https://fontawesome.com/icons/clock?s=solid&f=classic
// https://prepros.io

@import './mixins'

*
  padding: 0
  margin: 0
  font-family: 'Open Sans', sans-serif

body
  background-color: #e2e6ec

// ===== HEADER ===== //

.dropdown-menu
  a:active
    background-color: $mainColor

// ==========================================
// Button styles
.continue-shopping-button
  padding: 10px 20px
  font-size: 14px
  font-weight: bold
  border-radius: 30px
  transition: all 0.3s ease

  &:hover,
  &:focus
    background-color: transparent
    color: #F1D302


#btn-back-to-top
  position: fixed
  bottom: 20px
  right: 20px
  background-color: $mainColor
  color: white
  display: none

@media screen and (max-width: 991px)
  .top-header
    display: none

@media screen and (min-width: 992px)
  .top-header
    display: flex

.top-header
  position: relative
  align-items: center
  background-color: #1c293e
  height: 30px

  .secondary-functions
    display: flex
    align-items: center
    gap: 10px
    height: max-content
    width: max-content
    margin-left: 40px

    a
      text-decoration: none
      color: $mainColor
      transition: 0.4s ease-in-out

      &:hover
        filter: brightness(0.85)

    span
      font-size: 13px

    .middle-div
      width: 50px

  // DROPDOWN SWITCH LANGUAGE //
  .switch-language
    display: flex
    position: absolute
    right: 6%
    align-items: center
    justify-content: right
    gap: 5px
    width: max-content

    .btn
      border: none

      .language-name
        color: rgb(184, 184, 184)

      i
        margin-left: 5px
        color: $mainColor

    .dropdown-menu
      text-align: center

      .dropdown-item:not(.last)
        border-bottom: 1px solid #e1e1e1

// DROPDOWN SWITCH LANGUAGE FOR MOBILE VERSION //
@media screen and (min-width: 992px)
  .switch-language-in-mobile
    display: none

@media screen and (max-width: 991px)
  .switch-language-in-mobile
    display: flex

.switch-language-in-mobile
  margin: auto
  align-items: center
  gap: 5px
  width: max-content

  .btn
    border: none

    .language-name
      color: rgb(184, 184, 184)
      font-size: 18px

    i
      margin-left: 5px
      color: $mainColor
      font-size: 18px

    .dropdown-menu
      text-align: center

      .dropdown-item:not(.last)
        border-bottom: 1px solid #e1e1e1

nav
  background-color: $secondColor

  .container-fluid
    padding: 15px

    .navbar-toggler
      border-color: $lineColor
      i
        color: $lineColor

    @media screen and (max-width: 991px)
      img
        margin: auto
        width: 50%
        max-width: 350px

      #navbarSupportedContent
        position: relative

        .form-inputs
          input[type='text'], i
            display: none

    @media screen and (min-width: 992px)
      img
        max-width: 270px
        margin-left: 3%

      #navbarSupportedContent
        position: absolute
        right: 2.5%
        display: flex
        justify-content: right
        gap: 3%
        width: 75%

        @media screen and (max-width: 1245px)
          .form-inputs
            margin-right: 50px

        .form-inputs
          position: relative

        .form-inputs .form-control
          height: 45px
          width: 370px
          border-radius: 20px
          border: none
          padding-left: 40px
          background-color: $lineColor

        .form-inputs .form-control:focus
          box-shadow: none

        .form-inputs i
          position: absolute
          left: 10px
          top: 12px
          font-size: 20px

          // Categories in a small window
      @media screen and (max-width: 991px)
        .nav-categories
          display: inherit

      @media screen and (min-width: 992px)
        .nav-categories
          display: none

    .nav-categories
      border: 1px solid white
      border-radius: 20px
      margin-top: 20px
      width: 100%

      .btn:hover, .focus-color // .focus-color используется в js файле
        background-color: $mainColor

      ul
        list-style-type: none
        padding: 0
        margin: 0
        @include categories_theme

        li
          .main-links
            color: white

          .collapse .card .collapse-container
            font-size: 10px

            .under-categories
              p a:hover
                color: $mainColor


@media screen and (min-width: 992px)
  .nav-button
    margin-right: 30px
    float: right

@media screen and (max-width: 991px)
  .nav-button
    margin: 10px auto
    flex-wrap: wrap
    justify-content: center

.nav-button
  display: flex
  width: fit-content
  align-items: center
  gap: 15px

  .user-button-container
    display: flex
    align-items: center
    justify-content: center
    gap: 10px

    @media screen and (min-width: 1246px)
      .data-for-buttons
        display: grid
        font-weight: bold
        width: 60px

    @media screen and (max-width: 1245px)
      .data-for-buttons
        display: none

    @media screen and (max-width: 991px)
      .data-for-buttons
        display: grid

    .data-for-buttons
      color: $lineColor
      font-size: 14px

  button
    border: 1px solid $lineColor
    border-radius: 70px
    text-align: center

    span
      background-color: $mainColor

  i
    color: $mainColor
    font-size: 20px

// The PHONE NUMBER in HEADER...
@media screen and (min-width: 1525px)
  .phone-number
    display: flex
    width: 370px

@media screen and (max-width: 1525px)
  .phone-number
    display: none

@media screen and (max-width: 991px)
  .phone-number
    display: flex
    margin: 20px auto 20px
    max-width: 370px

.phone-number
  position: relative
  gap: 15px
  align-items: center
  padding: 5px 10px
  border: 2px solid #4D5E79
  border-radius: 30px
  justify-content: center

  .phone-icon
    position: absolute
    left: 15px
    color: $mainColor
    font-size: 25px

  .number a
    color: $mainColor
    font-size: 25px
    text-decoration: none

  .work-days
    position: absolute
    right: 15px
    display: grid
    font-size: 14px
    font-weight: bold
    color: rgb(160,181,213)

// ==========SEARCH BAR================
@media screen and (max-width: 991px)
  #searchbar .form-control
    display: inherit

  #searchbar i
    display: inherit

@media screen and (min-width: 992px)
  #searchbar .form-control
    display: none

  #searchbar i
    display: none

// =====================================
#searchbar
  position: relative

#searchbar .form-control
  height: 45px

#searchbar .form-control:focus
  box-shadow: none
  border: 1px solid #000

#searchbar i
  position: absolute
  right: 10px
  top: 15px

// ===== MAIN CONTENT ===== //

.contentTitles
  @include titleStyle

.infoContainers
  @include infopagesDisplay

  .content-about
    display: grid
    position: relative

    img
      width: 100%
      border-bottom-right-radius: 10px
      border-bottom-left-radius: 10px

  .description
    margin-right: 20px
    p, h2
      margin-top: 14px
      padding-left: 15px
      padding-right: 15px

    ul
      max-width: 920px

    li
      margin-bottom: 10px

    .pointed-list li
      color: $mainColor

      span
        color: black

.main-content
  max-width: 90%
  margin: 45px auto auto

  > h2
    text-align: center

  .leadersPictures
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 10px
    width: fit-content
    margin: auto

    .infoAboutPerson
      position: relative

      .info-name-role
        position: absolute
        display: flex
        align-items: center
        bottom: 10px
        width: 100%
        padding: 15px 5px
        font-size: 15px
        background-color: rgba(45, 59, 81, 0.9)
        color: white
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px

        a
          color: white
          transition: 0.3s ease-in-out

          &:hover
            color: $mainColor

        .name-role
          display: grid
          width: 170px

          .personName
            font-weight: bolder

          .personRole
            font-size: 11px

    img
      border-radius: 10px
      margin: 10px auto 10px


@media screen and (max-width: 1270px)
  .infoPanel
    display: grid

@media screen and (min-width: 1271px)
  .infoPanel
    display: flex


.infoPanel
  align-items: center
  gap: 20px
  margin-top: 30px
  margin-bottom: 40px

  .information
    background-color: lighten(#E5FFCC, 5)
    height: 250px
    padding: 20px

    #email
      > a
        color: lighten($mainColor, 15)

  iframe
    width: 100%
    height: 250px
.description
  transform: translateX(-50%)
  width: 200px
  padding: 10px
  background-color: #7eff7e
  color: #000
  font-size: 14px
  text-align: center
  box-shadow: 0px 0px 8px 2px #00c200
  border-radius: 5px




.magnifying-glass
  position: fixed
  top: 10px
  right: 50px
  z-index: 9999
  color: white

.zoom-in, .zoom-out
  display: inline-block
  padding: 10px
  font-size: 20px
  font-weight: bold
  cursor: pointer


.zoom-in:hover, .zoom-out:hover
  background-color: #ccc

.column
  display: flex
  justify-content: center

  @media screen and (max-width: 991px)
    .left-column
      display: none

  @media screen and (min-width: 992px)
    .left-column
      display: inherit

  .left-column
    margin-left: 30px

    .make-purchase-button
    display: inline-block
    padding: 12px 32px
    font-size: 16px
    font-weight: bold
    color: white
    background-color: limegreen
    border: none
    border-radius: 30px
    transition: all 0.3s ease

  // ===== CATEGORIES LIST ====== //

  .categories
    background-color: #6bb42a
    height: 35px
    width: 230px

    &:hover
      .list-of-categories
        display: inherit

    .categories-dom
      display: flex
      align-items: center
      gap: 8px
      float: none
      line-height: 24px
      font-weight: 500
      font-size: 18px
      color: #ffffff
      letter-spacing: 0.2px
      margin: 0
      padding: 9px 14px
      width: 100%
      height: 100%

    .list-of-categories
      display: none
      background-color: white
      @include categories_theme

      li
        transition: 0.5s ease-in-out

        &:hover
          background-color: rgb(236, 255, 221)

      .product-category
        position: relative
        display: flex

        &:hover
          .underlist-product
            display: inherit

        .underlist-product
          display: none
          position: absolute
          top: 0
          left: 100%
          width: max-content
          max-width: 1020px
          height: max-content
          background-color: white
          box-shadow: 1px 1px 5px #777
          border: 1px solid #ccc
          flex-wrap: wrap
          z-index: 999

          .top-line
            width: 100%
            height: 15px
            background-color: rgb(236, 255, 221)
            text-indent: -9999px

          .category-container
            display: flex
            gap: 30px
            flex-wrap: wrap
            max-width: max-content
            padding: 10px 15px

            .categories-in-categories
              h4
                max-width: 200px

              p
                margin: 0
                padding: 0

          h4 a
            font-weight: bold

  // ======================================

  @media screen and (max-width: 991px)
    .right-column
      display: none

  @media screen and (min-width: 992px)
    .right-column
      display: grid

  .right-column
    margin: 30px
    gap: 30px
    height: fit-content
    text-align: center

    h5
      font-weight: 700

    .product-list
      display: grid
      background-color: white
      border-radius: 10px

      > h5
        padding: 10px
        border-bottom: 1px solid $lineColor

      hr
        width: 90%
        margin: auto

      .product-container
        display: flex
        align-items: center
        justify-content: center
        padding: 5px 5px
        width: 90%
        margin: auto
        gap: 6px

        img
          width: 100px

        .product-info
          display: grid
          width: 150px

          .product-name
            font-size: 15px


          .product-price
            font-size: 20px
            color: green
            font-weight: bold


    .deal-of-the-day
      display: grid
      background-color: white
      border-radius: 10px


      > h5
        padding: 10px
        border-bottom: 1px solid $lineColor

      .product-deal
        display: grid
        align-items: center
        text-align: center
        width: 90%
        margin: auto

        img
          margin: auto auto 30px

        .name
          font-size: 20px
          font-family: MONTSERRAT, serif

        .price
          font-size: 30px
          font-weight: 900
          font-family: MONTSERRAT, sans-serif
          color: rgb(45,59,81)
          font-style: italic
          text-shadow: 1px 1px #fff, -1px 1px #fff, -1px -1px #fff, 1px -1px #fff, 0 5px 5px #b3b3b3
          margin-top: 10px
          margin-bottom: 15px

// ===== FOOTER ===== //

@media screen and (max-width: 499px)
  footer
    margin-top: 80px

footer
  background-color: $secondColor

  @media screen and (max-width: 499px)
    .footer-content
      display: none

  @media screen and (min-width: 500px)
    .footer-content
      display: flex

  .footer-content
    justify-content: center
    padding: 25px
    margin-top: 50px

    p
      color: $lineColor

    h6
      color: white

    .logoFooter
      width: 400px
      margin-left: 40px

      img
        width: 350px

      p
        margin-top: 20px
        margin-bottom: 20px

      .SNlinks
        display: flex
        gap: 10px
        margin-bottom: 20px

        a
          @include footerButtons
          padding: 10px 15px

    .extraInfoFooter
      margin: auto
      display: flex
      justify-content: center
      max-height: 200px
      gap: 55px

      .companyInformation
        display: grid
        gap: 10px

        a
          text-decoration: none
          color: $lineColor

      @media screen and (max-width: 670px)
        .infoFooter
          display: none

      @media screen and (max-width: 800px)
        .companyFooter
          display: none

      @media screen and (max-width: 990px)
        .accountFooter
          display: none


      @media screen and (max-width: 1335px)
        .contactFooter
          display: none

      .contactFooter
        max-width: 300px

      @media screen and (max-width: 1600px)
        .instagramFooter
          display: none

      .instagramFooter
        max-width: 300px

        .instaPictures
          flex-wrap: wrap
          max-width: 400px

          img
            margin: 3px
            width: 90px
            height: 90px

  .extraFooter
    color: white
    background-color: darken($secondColor, 10)
    height: 40px
    display: flex
    align-items: center
    justify-content: center